{{!< default}}

{{! Home page template. }}


        	<div class="column1">
            
            	<h2>a picture is worth a thousand words</h2>
                
               <p>The <a href="http://en.wikipedia.org/wiki/Flammarion_engraving">Flammarion Engraving</a>, 
               also known as "Urbi et Orbi" (The City and the Universe) is a classic take on the 
               change in human understanding between the Middle Ages and the Renaissance.
               We update it here with a take for the current age, the age of the network. Where do
               we go from here?  Does the Age of Reason lead us to pure materialism, or do we rediscover
               an essential mystery at the heart of life, and being?</p>

            </div>
            <div class="column2">
            	
                <h2>the changing web slide show</h2>
                
                <p>There are a million slide show programs for delivering
                the homepage slideshow. Literally, a million (ok, a thousand).  This page is
                rendered with javascript and css (as opposed to the old 
                standard flash-based solutions), using the fantastic 
                <a href="http://julian.com/research/velocity/">velocity.js</a> 
                animation library. It is home-rolled - we eat our own dogfood here
                as much as possible. We hope you like it.</p>
                	
            </div>
            <div class="column3">
            
            	<h2>web applications</h2>
            	<p>What do you want to build? You dream it, we'll build it. 
            	As complex, or as simple, as it needs to be.
            	   <ul class="work">
                	<li>
                    	<a href="">
                        	<img class="work-img" src="{{asset "images/spaceshuttle.jpg"}}" />
                            <h4>as complex</h4>
							
                        </a>
                    </li>
                 	<li>
                    	<a href="">
                        	<img class="work-img" src="{{asset "images/oldshed1.jpg"}}" />
                            <h4>or as simple</h4>
							
                        </a>
                    </li>
            	
            </div>

 
<div id="slide-loader" >
<img src="{{asset "/images/slide_universum_stars.png"}}"/>
</div>

