<div id="slideshow-controls" class="slideshow-controls" style="display:block;">
	<button id="btnPauseSlides" value="||">||</button>
	<button id="btnStartSlidesN" onclick="startTheShow();" value=">" >></button>

	<button id="btnSlideShowInfo" value="?" onclick="goSlideInfo();">?</button>
</div>

<div id="slideshow-hider" class="slideshow-hider" style="display:hidden;position:absolute:right:0px;">
	<button id="btnHideSlideShow" value="x" class="img-ctrl">X</button>
</div>

<div class="divSpacer" style="float:left;clear:both;height:30px;width:100%;"></div>