    <footer class="main-footer">
        <div>
 			<img src="{{asset "images/Netazoic_logo_footer.png"}}" /> 
 				<span id="footer=text">
 				    <div><span class="subtitle">{{@blog.description}}</span></div>

				</span>
		 </div>
		 <nav id="menu" class="menu-right">
				<a href="http://github.org/Netazoic">Github</a>, 
				<a href="http://bg.netazoic.com">Some blogging</a>
		 </nav>

        <div class="credits">&copy; {{date format="YYYY"}} {{@blog.title}}. All rights reserved.<br>
        Powered by <a href="https://ghost.org">Ghost</a> and <a href="https://github.com/Netazoic/nghost-theme">nGhost</a>.
		</div>
    </footer>