	<div id="panel" style="display:none;">
		<div id="slideshow-controls" style="display:none;">
			<button id="pauseSlide" value="||">||</button>
			<button id="startSlides" value=">" >></button>
			<button id="btnRestartSlides" value="x" class="img-ctrl">X</button>
		</div>
		<div id="slideshow"></div>
	</div>