/* custom icons */
.tundra .dijitReturnIcon {background-image: url(/images/icons/arrow_left.png);}
.tundra .dijitEditIcon {background-image: url(/images/icons/page_edit.png);}
.tundra .dijitViewIcon {background-image: url(/images/icons/page.png);}
.tundra .dijitArticleIcon {background-image: url(/images/icons/newspaper_add.png);}
.tundra .dijitPreviewIcon {background-image: url(/images/icons/layout.png);}
.tundra .dijitTestIcon {background-image: url(/images/icons/email_edit.png);}
.tundra .dijitDistroIcon {background-image: url(/images/icons/email_link.png);}
.tundra .dijitSendIcon {background-image: url(/images/icons/email_go.png);}
.tundra .dijitAddAudienceIcon {background-image: url(/images/icons/group_add.png);}
.tundra .dijitSaveIcon {background-image: url(/images/icons/table_save.png);}
.tundra .dijitDeleteIcon {background-image: url(/images/icons/application_delete.png);}
.tundra .dijitReturnIcon {background-image: url(/images/icons/arrow_left.png);}
.tundra .dijitSendTestIcon {background-image: url(/images/icons/newspaper_go.png);}
.tundra .dijitHelpIcon {background-image: url(/images/icons/help.png);}
.tundra .dijitGoIcon {background-image: url(/images/icons/page_white_go.png);}
.tundra .dijitCancelIcon {background-image: url(/images/icons/cancel.png);}
.tundra .dijitFilterIcon {background-image: url(/images/icons/table_go.png);}
.tundra .dijitUploadIcon {background-image: url(/images/icons/application_get.png);}
.tundra .dijitAddNewIcon {background-image: url(/images/icons/application_add.png);}
.tundra .dijitCustomFilterIcon {background-image: url(/images/icons/database_gear.png);}
.tundra .dijitUpdateTrackingIcon {background-image: url(/images/icons/database_gear.png);}
.tundra .dijitHomeIcon {background-image: url(/images/icons/house.png);}
.tundra .dijitBatchAddAddressesIcon {background-image: url(/images/icons/book_addresses.png);}
.tundra .dijitAddAddressIcon {background-image: url(/images/icons/book_add.png);}
.tundra .dijitSaveAddressIcon {background-image: url(/images/icons/book_edit.png);}
.tundra .dijitDeleteAddressIcon {background-image: url(/images/icons/book_delete.png);}
.tundra .dijitAddHotelIcon {background-image: url(/images/icons/building_add.png);}
.tundra .dijitManageListIcon {background-image: url(/images/icons/email_edit.png);}
.tundra .dijitAddAudienceIcon {background-image: url(/images/icons/group_add.png);}
.tundra .dijitDeleteAudienceIcon {background-image: url(/images/icons/group_delete.png);}
.tundra .dijitSearchIcon {background-image: url(/images/icons/magnifier.png);}
.tundra .dijitCopyIcon {background-image: url(/images/icons/page_copy.png);}
.tundra .dijitImageIcon {background-image: url(/images/icons/image_add.png);}
.tundra .dijitRequestCalendarIcon {background-image: url(/images/icons/calendar_add.png);}