<!DOCTYPE html>
<html>
<head>
   <link rel="stylesheet" type="text/css" href="{{asset "css/main.css"}}" />
</head>
<body onload="goHome();">

<head>

</head>


<script>
function goHome(){document.location = "/home";}
 </script>
 </body>
</html>