<div id="slideshow-controls" class="slideshow-controls" style="display:block;">
	<button id="btnPauseSlides" value="||">||</button>
	<button id="btnStartSlidesN" onclick="startTheShow();" value=">" >></button>
	<button id="btnHideSlideShow" value="x" style="display:none;" class="img-ctrl">X</button>
	<button id="btnSlideShowInfo" value="?" onclick="goSlideInfo();">?</button>
</div>

<div class="divSpacer" style="float:left;clear:both;height:30px;width:100%;"></div>